{% extends './base_contenido.html' %}

{% load static %}

{% block title %}
	Incidente: {{ codigo }}
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static '/css/detalle_incidente.css' %}">
{% endblock%}

{% block titulo_contenido %}
	<h4>Incidente: {{ codigo }}</h4>
{% endblock %}

{% block barra_herramientas %}
	{% if incidente.estado.descripcion == 'Creado' %}
		<button class="btn btn-sm btn-info ml-1" id="btnConsultar" data-toggle="modal" data-target="#modalSelUsuario">
		  <i class="material-icons md-21 align-middle mr-1">share</i> Asignar
		</button>	
	{% endif %}
	<button class="btn btn-sm ml-1">
		<i></i>P
	</button>
{% endblock %}

{% block contenido %}
{% csrf_token %}
<i id="codigo" class="d-none">{{ codigo }}</i>

<!-- Datos del Incidente -->
{% if incidente.estado.descripcion == 'Creado' %}
	<div class="container-fluid">			
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col-sm-2">
						<p class="p-1 label" >Titulo:</p>
					</div>
					<div class="col-sm-10">
						<p class="rounded border p-1">{{ incidente.titulo }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<p class="p-1 label">Fecha:</p>
					</div>
					<div class="col-sm-10">
						<p class="rounded border p-1"> {{ incidente.fecha_creacion }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<p class="p-1 label">Cliente:</p>
					</div>
					<div class="col-sm-10">
						<p class="rounded border p-1">{{ incidente.usuario.usuariosgrexco.empresa.nombre }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<p class="p-1 label">Aplicación:</p>
					</div>
					<div class="col-sm-10">
						<p class="rounded border p-1">{{ incidente.aplicacion.nombre }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<p class="p-1 label">Estado:</p>
					</div>
					<div class="col-sm-10">
						<p class="rounded border p-1">{{ incidente.estado.descripcion }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<p class="p-1 label">Descripción:</p>
					</div>
				</div>
				<div class="row">
					<div class="col border rounded p-2 ml-3">
						<p>{{ incidente.descripcion }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="m-2">
					<hr>
					{% if adjuntos %}
						{% for adjunto in adjuntos %}
							<a class="btn btn-sm btn-outline-success" href="{{ adjunto.archivo.url }}">
								<i class="material-icons md-19 align-middle mr-1">attach_file</i>{{ adjunto.nombre_archivo }}
							</a>
						{% endfor %}
					{% else %}
						<p>No hay archivos adjuntos</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% else %}
	<div class="container-fluid">			
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col-sm-2">
						<p class="p-1 label" >Titulo:</p>
					</div>
					<div class="col-sm-10">
						<p class="rounded border p-1">{{ incidente.titulo }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<p class="p-1 label">Fecha:</p>
					</div>
					<div class="col-sm-10">
						<p class="rounded border p-1"> {{ incidente.fecha_creacion }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<p class="p-1 label">Cliente:</p>
					</div>
					<div class="col-sm-10">
						<p class="rounded border p-1">{{ incidente.usuario.usuariosgrexco.empresa.nombre }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<p class="p-1 label">Aplicación:</p>
					</div>
					<div class="col-sm-10">
						<p class="rounded border p-1">{{ incidente.aplicacion.nombre }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<p class="p-1 label">Estado:</p>
					</div>
					<div class="col-sm-10">
						<p class="rounded border p-1">{{ incidente.estado.descripcion }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<p class="p-1 label">Descripción:</p>
					</div>
				</div>
				<div class="row">
					<div class="col border rounded p-2 ml-3">
						<p>{{ incidente.descripcion }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="m-2">
					<h6 class="mt-3 mb-0">Adjuntos</h6>
					<hr class="mt-1">
					{% if adjuntos %}
						{% for adjunto in adjuntos %}
							<a class="btn btn-sm btn-outline-success" href="{{ adjunto.archivo.url }}">
								<i class="material-icons md-19 align-middle mr-1">attach_file</i>{{ adjunto.nombre_archivo }}
							</a>
						{% endfor %}
					{% else %}
						<p>No hay archivos adjuntos</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endif %}
    

<!-- Modal Asigna Incidentes -->
<div class="modal fade" id="modalSelUsuario" tabindex="-1" 
		 role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="exampleModalLabel">ASIGNAR CASO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="col">
      		<form action="" id="frmAsigInci" name="frmAsigInci">
      			<div class="form-group">
      				<label for="">Elija el usuario de <b>Soporte</b> al que desea asignarle este incidente:</label>
      				<select name="selUsuario" id="selUsuario" class="custom-select">
      					<option value=""></option>
      				</select>
      			</div>
      			<div class="form-group">
      				<label for="">Seleccione la prioridad de respuesta aplicable para el caso:</label>
      				<select name="selPrioResp" id="selPrioResp" class="custom-select">
      					<option value=""></option>
      				</select>
      			</div>
      		</form>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Cancelar</button>
        <button id="btnEnviar" type="button" class="btn btn-primary btn-sm">Enviar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
	<script src="{% static '/js/detalle_incidente.js' %}"></script>
{% endblock %}