<!DOCTYPE html>
<html>
<head>
	<title>Grexco | Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static '/css/base_dashboard.css' %}">  

	<!-- Google Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	{% block css %}

	{% endblock %}
	
</head>
<body style="font-size: .875rem;"> 

<!-- Barra de navegación en mobiles -->
<nav class="navbar navbar-expand-lg bg-dark d-lg-none d-md-block d-sm-block">
	<div class="container-fluid">	
	    <!-- User -->
		  <div class="dropdown">
				<button class="btn bg-dark float-right pt-0 pb-0 pl-1 pr-1 dropdown-toggle btn-user" data-toggle="dropdown"><i class="material-icons md-36 person">person</i></button>
		    <div class="dropdown-menu">
				  <a class="dropdown-item" href="#"><b>Usuario:</b> {{request.user.username}}</a>
			  	<a class="dropdown-item" href="{% url 'usuarios:logout'%}">Cerrar sesión</a>
				</div>
		  </div>
				
		  <!-- Toggler/collapsibe Button -->
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		    <span><i class="material-icons">reorder</i></span>
		  </button>
				
			<!-- Navbar links -->
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
			  <p>links</p>
				<button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapse-usuario">Usuario</button>
				<div class="collapse" id="collapse-usuario">
					usuario
				</div>
			</div>
	</div> 
</nav>
<!-- Fin barra de navegación en mobiles -->

<!-- Cuerpo -->
<div class="container-fluid">
		
	<!-- Top Nav -->
	<div class="row bg-dark d-none d-sm-block d-md-block d-xl-block sticky-top top-nav clearfix p-1"
			 style="color: white; height:50px;">
		<div class="col">
			<div>
				<a href="/a/">Grexco</a>
			</div>
			<div class="dropdown">
				<button class="btn bg-dark float-right pt-0 pb-0 pl-1 pr-1 dropdown-toggle btn-user" data-toggle="dropdown"><i class="material-icons md-28 person">person</i></button>
				<div class="dropdown-menu p-0">
	     		<a class="dropdown-item" href="#">Usuario: {{ request.user.username }}</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'usuarios:logout'%}">Cerrar sesión</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Fin top nav -->
	
	<!-- Contenido -->
	<div class="row">
		<!-- sidebar -->
		<div class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky p-0 pt-2">
				<!-- Usuarios -->
				<div class="m-1">
					<button class="btn btn-sm btn-toolbar btn-block btn-light menu-btn font-weight-bold" 
									type="button" 
									data-toggle="collapse" 
									data-target="#collapseUsuarios"
									style="font-size: 15px;">
						Usuarios
						<i class="material-icons ml-auto arrow">arrow_drop_down</i>
						<i class="material-icons ml-auto arrow" style="display: none;">arrow_drop_up</i>
  				</button>
  				<div class="collapse" id="collapseUsuarios">
	  				<div class="card card-body p-2">
	  					<a href="{% url 'administracion:nuevo_usuario' %}" 
	  						 class="m-auto">
								<i class="material-icons md-24">person_add</i>
	  					</a>
	  					<hr class="m-1">
	  					<div>
	  						<ul class="list-group listas-menu">
	  							<li class="list-group-item p-0">
	  								<a href="{% url 'administracion:clientes' %}" class="btn btn-sm btn-block p-1 text-dark text-left" role="button">
	  									Clientes
	  								</a>
	  							</li>
	  							<li class="list-group-item p-0">
	  								<a href="" class="btn btn-sm btn-block p-1 text-dark text-left" role="button">
	  									Soporte
	  								</a>
	  							</li>
	  							<li class="list-group-item p-0">
	  								<a href="" class="btn btn-sm btn-block p-1 text-dark text-left" role="button">
	  									Tecnología
	  								</a>
	  							</li>
	  						</ul>	  						
	  					</div>
	  				</div>
					</div>
				</div>

				<!-- Clientes -->
				<div class="m-1">
					<button class="btn btn-sm btn-toolbar btn-block btn-light menu-btn font-weight-bold" 
									type="button" 
									data-toggle="collapse" 
									data-target="#collapseClientes"
									style="font-size: 15px;">
									Clientes
						<i class="material-icons ml-auto arrow">arrow_drop_down</i>
						<i class="material-icons ml-auto arrow" style="display: none;">arrow_drop_up</i>
					</button>
					<div class="collapse" id="collapseClientes">
						<div class="card card-body p-2">
							<div>
								<ul class="list-group listas-menu">
									<li class="list-group-item p-0">
										<a href="{% url 'administracion:nueva_plataforma' %}" class="btn btn-sm btn-block p-1 text-dark text-left" role="button">
											Plataformas
										</a>
									</li>
									<li class="list-group-item p-0">
										<a href="{% url 'administracion:empresas' %}" class="btn btn-sm btn-block p-1 text-dark text-left" role="button">
											Empresas
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>			
		</div>			
		<!-- Fin sidebar -->
		
		<main class="col-md-9">
			{% block content %}
			{% endblock %}
		</main>
	
	</div>
	<!-- Fin contenido -->

</div>
<!-- Fin cuerpo -->

<!-- JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="{% static '/js/base_dashboard.js' %}"></script>

	{% block js %}

	{% endblock %}

</body>
</html>