<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Administración</title>
  {% load static %}
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static '/css/base_dashboard.css' %}">  

  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  <script src="{% static '/js/base_dashboard.js' %}"></script>

  {% block js-css %}

  {% endblock %}
	
  <!-- Google Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Google fonts  -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

</head>
<body>
<!-- TOP BAR -->
  <div class="nav-container">
		<div>
		  <a href="{% url 'administracion:dashboard'%}">
			<img src="{% static '/img/logo.jpg' %}" alt="logo" style="width:150px";>
		  </a>
		</div>
  		<div>
		  <div class="dropdown" style="float: right;">
		  	<button type="button" class="account-btn"><i class="material-icons account_box">account_box</i></button>
		  	<div class="dropdown-menu">
		    	<a class="" href="#"><b>Usuario:</b> {{request.user.username}}</a>
		    	<a href="{% url 'usuarios:logout'%}">Cerrar sesión</a>
		  	</div>	
		  </div>
		</div>
  </div>
<!-- FIN TOP BAR  -->

<!-- CONTENIDO -->
<div class="grid-container">
	
	<!-- SIDEBAR -->
	<div class="sidebar">
		<div class="menu">
			<div class="menu-item">
				<button class="dropbtn">Usuarios</button>
				<div class="dropdown-content">
					<div class="container-new">
						<a class="add-item" href="{% url 'administracion:new-user' %}"><i class="material-icons icon-add">add_circle_outline</i> Nuevo</a>
					</div>
					<hr style="width: 93%;">
					<a href="#">Clientes</a>
					<a href="#">Soporte</a>
					<a href="#">Tecnología</a>
				</div>
			</div>
			<div class="menu-item">
			    <button class="dropbtn">Clientes</button>
				<div class="dropdown-content">
				  <div class="container-new">
				    <a class="add-item" href="{% url 'administracion:nuevo_cliente' %}"><i class="material-icons icon-add">add_circle_outline</i>Nuevo</a>
				  </div>
				  <hr style="width: 93%;">
				  <a href="">Empresas</a>
				</div>
			</div>
			<div class="items-menu">
				<p>otros....</p>
			</div>
		</div>
	</div>
  <!-- FIN SIDEBAR -->	
	

	<div class="contenido">
		{% block content %}

		{% endblock %}
	</div>
  	
</div>
<!-- FIN CONTENIDO -->

<footer>
  <p>Grexco S.A.S.</p>
</footer>

</body>
</html>