{% extends './base_dashboard.html' %}

{% block title %}
  Consulta | {{ empresa.nombre }}
{% endblock %}

{% load static %}

{% block css %}
<!-- Data tables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/sl-1.2.5/datatables.min.css"/>

<style>
  .material-icons.md-18 {
    font-size: 18px;
  }
  
  .material-icons.md-19 {
    font-size: 19px;
  }

  .material-icons.md-20 {
    font-size: 20px;
  }

</style>
  
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/af-2.2.2/b-1.5.1/b-html5-1.5.1/b-print-1.5.1/r-2.2.1/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>

<script src="{% static '/js/empresas_detalle.js' %}"></script>
{% endblock%}

{% block content %}
  {% csrf_token %}
  <div class="row">
    <div class="col-10 pt-2 pl-3">
      
      <!-- Breadcrumb -->
      <div class="row">
          <nav class="m-0 p-0">
            <ol class="breadcrumb m-0 pl-3" style="font-size: 20px; background-color: white;">
              <li class="breadcrumb-item"><a href="{% url 'administracion:empresas' %}">Empresas</a></li>
              <li class="breadcrumb-item">{{ empresa.nombre }}</li>
            </ol>
          </nav>
      </div>

      <!-- Almacena el Nit de la empresa actual  -->
      <span id="nitEmpresa" class="d-none">{{ empresa.nit }}</span>
      
      <!-- Barra de opciones -->
      <div class="row">    
        <hr class="w-100 m-0">
        <div class="bg-muted rounded mt-1" style="padding: 7px;">
          <button class="btn btn-muted btn-sm" id="btnEditarEmpresa">
            <i class="material-icons align-middle md-19 pr-1">edit</i>
            Editar
          </button>
          <button class="btn btn-warning btn-sm" id='btnEliminarEmpresa'>
            <i class="material-icons align-middle md-19 pr-1">delete</i>
            Eliminar
          </button>
          {% if empresa.activa %}
            <button class="btn btn-sm btn-danger" id="btnDesactivarEmpresa">
              <i class="material-icons align-middle md-20 pr-1">block</i>
              Desactivar
            </button>
          {% else %}
            <button class="btn btn-sm btn-success" id="btnActivarEmpresa">
              <i class="material-icons align-middle md-20 pr-1">done</i>
              Activar
            </button>
          {% endif %}
        </div>
      </div>
      <!-- Fin Barra de opciones  -->
	    
      <!-- Alertas Eliminar -->
      <div class="row">
        <!-- OK -->
        <div class="alert alert-warning alert-dismissible fade show mt-1 p-2" id="alertaEliminarOk" style="display: none;">
          <div class="row">
            <div class="col-10" id="alertaEliminarOkMensaje">
            </div>
            <div class="col-2">
              <button type="button" class="close mr-3 p-0 btnCerrarAlerta">
                <i class="material-icons">close</i>
              </button>
            </div>
          </div>
        </div>
        <!-- Error -->
        <div class="alert alert-danger alert-dismissible fade show mt-1 p-2" id="alertaEliminarError" style="display: none;">
          <div class="row">
            <div class="col-10" id="alertaEliminarErrorMensaje">
            </div>
            <div class="col-2">
              <button type="button" class="close mr-3 p-0 btnCerrarAlerta">
                <i class="material-icons">close</i>
              </button>
            </div>  
          </div>
        </div>
      </div>
      <!-- Fin Alertas Eliminar-->

      <!-- Empresa activa/inactiva -->
      <div class="row mt-2">
        <div class="col-sm-4 text-center" style="font-size: 1.1em; color: white;">
          {% if empresa.activa %}
            <p class="p-1 text-success border border-success">Empresa activa</p>
          {% else %}
            <p class="p-1 text-danger border border-danger">Empresa inactiva</p>
          {% endif %}
        </div>
      </div>

      <!-- Datos básicos de la Empresa -->
      <div class="container mt-1 mb-2 bg-light rounded p-2">
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-2">
              Nit:
            </div>
            <div class="col-sm">
              <p class="p-1 rounded border" style="background-color: white;">{{ empresa.nit }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <p>Nombre:</p>
            </div>
            <div class="col-sm">
              <p class="p-1 rounded border" id="nombreEmpresa" style="background-color: white;">{{ empresa.nombre }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <p>Dirección:</p>
            </div>
            <div class="col-sm">
              <p class="p-1 rounded border" style="background-color: white;">{{ empresa.direccion }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <p>Teléfono:</p>
            </div>
            <div class="col-sm">
              <p class="p-1 rounded border" style="background-color: white;">{{ empresa.telefono }}</p>
            </div>        
          </div>

          <div class="row">
            <div class="col-sm-2">
              <p>Plataforma:</p>
            </div>
            <div class="col-sm-4">
              <p class="p-1 rounded border" style="background-color: white;">{{ empresa.plataforma.nombre }}</p>
            </div>
            <div class="col-sm-2">
              <p>Versión:</p>
            </div>
            <div class="col-sm-4">
              <p class="p-1 rounded border" style="background-color: white;">{{ empresa.plataforma.version }}</p>
            </div>
          </div>

        </div>
      </div>

      <!-- Convenios / Incidentes -->
	    <div class="row">
        <div class="col">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#convenios">Convenios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#versiones">Incidentes</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="convenios" class="tab-pane fade show active">
              <div class="col-4 mt-2">
                <ul class="list-group">
                  {% for convenio in convenios %}
                    <li class="list-group-item p-1"> {{ convenio.aplicacion }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div id="versiones" class="tab-pane fade show active">
              <p>{{ incidentes }}</p>
            </div>  
          </div>
        </div>
      </div>
      <!-- Fin información Reporte -->

      <!-- Modal editar datos empresa -->
      <div class="modal" id="modalEditarEmpresa">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-light">
              <h5 class="modal-title">Empresa: {{ empresa.nombre }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="text-success">Actualiza la información de la empresa: {{ empresa.nombre }}</p>
              <form action="">
                <div class="form-group">
                  <label for="">Dirección:</label>
                    <input id="inpDireccion" type="text" class="form-control form-control-sm" maxlength="150">
                </div>
                <div class="form-group">
                  <label for="">Teléfono:</label>
                  <input id="inpTelefono" type="text" class="form-control form-control-sm" maxlength="12">
                </div>
                <div class="form-group">
                  <label for="elegirPlataforma">Plataforma:</label>
                  <select name="selPlataforma" id="selPlataforma" class="custom-select">
                    <option value="0">Seleccione una plataforma</option>
                  </select>
                </div>
              </form>
              <!-- Alertas -->
              <div class="row">
                <div class="col">
                  <!-- Alerta ok -->
                  <div class="alert alert-success alert-dismissible fade show p-1" id="alertaOk" style="display: none;">
                    <div class="row">
                      <div class="col-10" id="alertaOkMensaje">
                      </div>
                      <div class="col-2">
                        <button type="button" class="close mr-3 p-0 btnCerrarAlerta">
                          <i class="material-icons">close</i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- Alerta error -->
                  <div class="alert alert-danger alert-dismissible fade show p-1" id="alertaError" style="display: none;">
                    <div class="row">
                      <div class="col-10" id="alertaErrorMensaje">
                      </div>
                      <div class="col-2">
                        <button type="button" class="close mr-3 p-0 btnCerrarAlerta">
                          <i class="material-icons">close</i>
                        </button>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
              <!-- Fin Alertas -->
            </div>
            <div class="modal-footer">
              <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px; color: DodgerBlue; display: none;"></i>
                <button type="submit"
                        class="btn btn-primary"
                        maxlenght="40" id="btnGuardar"
                        style="box-shadow: 0px 2px 7px 1px grey;">
                        Guardar
                </button>  
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Modal editar nombre Reporte -->

		</div>
  </div>
{% endblock %}