{% extends './base_dashboard.html' %}

{% load static %}

{% block js-css %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/new_platform.css' %}"> 
	<script src="{% static '/js/new_platform.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-sm-6">
        <div class="form-container">
          <h4>Nueva Plataforma</h4>
          <hr>

          <!-- Formulario -->
          <form action="" class="form">
            {% csrf_token %}
            <div class="form-group">
              <label for="name">Nombre:</label>
              <input type="text" class="form-control" id="name" placeholder="En MAYUSCULAS, sin caracteres especiales (/*._)" maxlength=30> 
              <span>Falta el nombre</span>             
            </div>
            <div class="form-group">
              <label for="version">Version:</label>
              <input type="text" class="form-control" id="version" maxlength=20>
              <span>Falta la versión</span>
            </div>
            <p class="disclaimer">Todos los campos son obligatorios</p>
            <p class="success" style="display: none;">Los datos se guardaron correctamente</p>
            <p class="error" style="display: none;"></p>
            <button type="submit" id="save" class="btn btn-primary btn-block">Guardar</button>
          </form>

        </div>         
      </div>
    </div>

{% endblock %}