{% extends './base_dashboard.html' %}

{% load static %}

{% block js-css %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/nuevo_usuario.css' %}"> 
	<script src="{% static '/js/nuevo_usuario.js' %}"></script>
{% endblock %}

{% block content %}


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10" style="margin: 7px 0px 0px 0px;">
				<div>
					<h3>Nuevo usuario</h3>
				</div>
				<hr>
				<div class="form-group row">
    			<label for="" class="col-sm-2 col-form-label">Tipo de usuario:</label>
					<div class="col-sm-4">
      			<select name="" id="tipo-usuario" class="custom-select">
							<option value="none">Seleccione un tipo de usuario</option>
							<option value="cliente">Cliente</option>
							<option value="soporte">Soporte</option>
							<option value="tecnologia">Tecnología</option>
						</select>
    			</div>
  			</div>
		  </div>
		</div>

		<div class="row">
			<div class="col-sm-9">
				
				<!-- Form container -->
				<div class="form-container">
					
					<!-- CLIENTE -->	
					<div id="form-cliente">
						<h5>Cliente</h5>
						<br>
						<form id="cliente" action="">
							{% csrf_token %}
							<div class="form-row">
								<div class="col-sm-8">
									<div class="form-group row">
					    			<label for="" class="col-sm-2 col-form-label">Empresa:</label>
										<div class="col-sm-10">
					      			<select name="" class="custom-select">
												<option value="">Seleccione la empresa a la que pertenece</option>
												
												{% for empresa in empresas %}
													<option value="{{ empresa.nit }}">{{ empresa.nombre }}</option>
												{% endfor %}

											</select>
					    			</div>
	  							</div>
								</div>
							</div>
							<h6>Datos del responsable</h6>
							<div class="form-row bg-light" style="padding: 7px; border-radius: 4px;">
								<div class="col">
									<div class="form-group">
										<label for="">Nombre</label>
										<span>Falta el nombre del responsable</span>
										<input type="text" class="form-control form-control-sm" maxlength="30">
									</div>
									<div class="form-group">
										<label for="">Cargo</label>
										<span>Falta el cargo del responsable</span>
										<input type="text" class="form-control form-control-sm" maxlength="30">
									</div>
								</div>
								<div class="col">
									<div class="form-group">
										<label for="">Apellido</label>
										<span>Falta el apellido del responsable</span>
										<input type="text" class="form-control form-control-sm" maxlength="150">
									</div>
									<div class="form-group">
										<label for="">Teléfono</label>
										<span>Falta el teléfono del responsable</span>
										<input type="text" class="form-control form-control-sm" maxlength="15">										
									</div>
								</div>
							</div>
							<div class="form-row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="" class="align-middle">Nombre de usuario</label>
										<span>Falta el nombre de usuario</span>
										<input type="text" class="form-control form-control-sm" maxlength="11">
									</div>
								</div>
							</div>
							<p class="requerido"> * Todos los campos son requeridos</p>
							<button type="button" class="btn btn-primary btn-block">Guardar</button>
						</form>
					</div>
					<!-- Fin CLIENTE -->

					<div>
						
					</div>
				</div>
				<!-- Fin form container -->
									
			</div>
		</div>

	</div>

{% endblock %}