<!-- ALERTAS -->
<div class="row">
  <div class="col">
    <div style="width: 100%;">
                   
      <!-- Alerta ok -->
      <div class="alert alert-success alert-dismissible fade show p-1" id="alertaOk" style="display: none;">
        <div class="row">
          <div class="col-10" id="alertaOkMensaje">
          </div>
          <div class="col-2">
            <button type="button" class="close mr-3 p-0 btnCerrarAlerta">
              <i class="material-icons">close</i>
            </button>
          </div>
        </div>
      </div>

      <!-- Alerta error -->
      <div class="alert alert-danger alert-dismissible fade show p-1"
           id="alertaError"
           style="display: none;">
        <div class="row">
          <div class="col-10" id="alertaErrorMensaje">
          </div>
          <div class="col-2">
            <button type="button" class="close mr-3 p-0 btnCerrarAlerta">
              <i class="material-icons">close</i>
            </button>
          </div>  
        </div>
      </div>
    
    </div> 
  </div>
</div>
<!-- FIN ALERTAS -->