{% load static %}
<!DOCTYPE html>
<html>
  <head>
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/gif/png" href="{% static 'landing/img/icono.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<link rel="stylesheet" href="{% static 'usuarios/css/login.css' %}">

    <!-- <script src="{% static 'usuarios/js/login.js' %}"></script> -->
		<style>
			body
			{
				background-color: #E6E6E6; 
				font-family: 'Roboto'; 
			}
		</style>
  </head>
  <body>
		
		<div class="container">
		<!-- Contenedor -->
			<div>
				Grexco
			</div>
			<div class="column2">
					<form action="." method="post">
						{% csrf_token %}
						<div class="item-user">
								<label for="">Usuario:</label>
								<input type="text" name="name" id="name">		
						</div>
						<div class="itme-password">
							<label for="">Contraseña:</label>
							<input type="password" name="pwd" id="pwd">		
						</div>
						<button type="submit" class="btn-submit">Ingresar</button>
					</form>
			</div>	
  	<!-- Fin contenedor -->
		</div>
  </body>
</html>