body {
    font-family: 'Roboto';
}

nav {
	height: 45px;
}


.grid-container {
  display: grid;
  grid-template-columns: 13%  87%;
  grid-template-rows: 670px;
  background-color: #2196F3;
}

/* div que contiene el menú */
.sidebar {
  background-color: black;
}


/* Menu */ 
.menu {
	padding: 10px 0px 10px 0px;
}


/* Estilos para los items del menu */
.items-menu {
	padding: 6px 4px 6px 4px;
	color: white;
}

.active {
    background-color: #56CCF2;
} 


/* Estilos cuando pasa el mouse por encima de un item-menu  */ 
.items-menu:hover {
	background-color: #56CCF2;
}


.items-menu:hover .dropbtn {
	background-color: #56CCF2;
}

.material-icons.icon-usuarios {
	color: #F8F8FF;
	font-size: 28px;
	text-align: center;
    vertical-align: middle;
}

.dropbtn {
    background-color: black;
    width: 100%;
    color: white;
    font-size: 16.5px;
    text-align: left;
    border: none;
}

.dropdown-content {
    display: none;
    background-color: white;
    border-radius: 2px;
}

.dropdown-content a {
	font-size: 15px;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #56CCF2;
}


/* Estilos para el link/botón nuevo */
.nuevo {
    border-bottom: 0.2px solid black;
}

.icon-add {
	font-size: 15px;
	text-align: center;
    vertical-align: middle;
}


/* Contenido de cada menu */
.contenido {
	background-color: #E5E5E5;
}