body {
    font-family: 'Roboto';
}

.nav-container {
    display: grid;
    grid-template-columns: auto auto;
    height: 45px;
}


.dropdown {
	position: relative;
    display: inline-block;
}

/* boton del usuario loggeado */
.account-btn {
    background-color: white;
    padding: 0px;
    border-style: none;
    cursor: pointer;
}

/* icono account_box */
.material-icons.account_box {
    font-family: 'Material Icons';
    color: black;
    font-size: 40px;
}  

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    border-radius: 3px;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 0px 5px 1px grey;
    z-index: 1;
}

.dropdown-menu a {
	font-size: 15px;
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .account-btn {
    background-color: white;
}


.grid-container {
  display: grid;
  grid-template-columns: 13%  87%;
  grid-template-rows: 670px;
  background-color: #2196F3;
}

/* div que contiene el menú */
.sidebar {
  background-color: black;
}


/* Menu */ 
.menu {
	padding: 10px 0px 10px 0px;
}


/* Estilos para los items del menu */
.menu-item {
	padding: 6px 4px 6px 4px;
}

.dropbtn {
    background-color: black;
    width: 100%;
    color: white;
    font-size: 17px;
    padding: 6px 0px 6px 4px;
    text-align: left;
    border: none;
    cursor: pointer;
}

.active {
	background-color: dodgerblue; 
}

.dropdown-content {
    display: none;
    background-color: white;
    border-radius: 2px;
}


/* Change color of dropdown links on hover */
.dropdown-content > a:hover {
	background-color: #ddd;
}

/*  */
.container-new {
	padding: 3px;
}

/* Estilos para el link/botón nuevo */
.add-item {
	color: red;
	font-size: 17px;
	text-decoration: none;
}

.add-item:hover {
	background-color: white;
}

.dropdown-content > a {
	font-size: 16px;
    color: black;
    padding: 5px 0px 5px 7px;
    text-decoration: none;
    display: block;
}

hr {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}
.material-icons.icon-add {
	font-size: 21px;
	padding: 0px 9px 0px 30px;
    vertical-align: middle;
    float: left;
    color: red;
}


/* Contenido de cada menu */
.contenido {
	background-color: #E5E5E5;
}