<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Administración</title>
  {% load static %}
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'administracion/css/base_dashboard.css' %}">  

	<!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  {% block js-css %}

  {% endblock %}
    
  <!-- Google Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Google fonts  -->
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

</head>
<body>
<!-- TOP BAR -->
  <nav>
  	<a href="{% url 'administracion:dashboard'%}">
			<img src="{% static 'landing/img/Logo.jpg' %}" alt="logo" style="width:150px";>
			{{request.user.username}} <a href="{% url 'usuarios:logout'%}">Logout</a>
		</a> 
  </nav>
<!-- FIN TOP BAR  -->

<!-- CONTENIDO -->
<div class="grid-container">
  <!-- SIDEBAR -->
	<div class="sidebar">
		<div class="menu">
			<div class="items-menu">
				<div class="dropdown">
					  <div>
							<button class="dropbtn"><i class="material-icons icon-usuarios">supervisor_account</i> Usuarios</button>
							<div class="dropdown-content">
								<div id="usuarios-nuevo">
									<a class="nuevo" href="{% url 'administracion:new-user' %}"><i class="material-icons icon-add">add_circle_outline</i> Nuevo</a>
								</div>
								<a href="#">Clientes</a>
								<a href="#">Soporte</a>
								<a href="#">Tecnología</a>
							</div>
					  </div>
			    </div>
			</div>
			<div class="items-menu">
					<div class="dropdown">
						<div>
							<button class="dropbtn"><i class="material-icons icon-usuarios">supervisor_account</i> Clientes</button>
							<div class="dropdown-content">
								<div id="usuarios-nuevo">
									<a class="nuevo" href="#"><i class="material-icons icon-add">add_circle_outline</i> Nuevo</a>
								</div>
								<a href="#">Consulta</a>
							</div>
						</div>
					</div>
			</div>
			<div class="items-menu">
				otros....
			</div>
		</div>
	</div>
  <!-- FIN SIDEBAR -->	
	

	<div class="contenido">
		{% block content %}

		{% endblock %}
	</div>
  	
</div>
<!-- FIN CONTENIDO -->

<footer>
  <p>Grexco S.A.S.</p>
</footer>

</body>
</html>