body {
	font-family: 'Roboto', sans-serif;
}	

nav {
	background-color: #ffff;
	font-size: 1em;
}

.material-icons.menu {
	color: #16aae2;
	font-size: 36px;
	text-align: center;
    vertical-align: middle;
}

.dropdown-productos { 
	color: #16aae2;
	padding-left: 5px;
 }

#welcome {
	margin-top: 70px;
	background-color: #299cff;

}

.welcome {
    background-color: black;
    color: white;
    margin-top: 200px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.95;
    font-size: 0.95em;
}

#grexco {
	background-color: #f7f9f8;
	height: 400%;
	width: 100%;
	padding: 50px 50px 50px 50px;
	font-size: 0.95em;
	color: #666666;
}

.title-grexco {
	text-align: center;
}

.text-grexco {
	text-align: justify;
}

#contenedor-productos {
	background-color: black;
	color: #F8F8FF;
	padding-top: 10px; 
	padding-bottom: 30px;
}

.title-productos {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
	font-size: 1.9em;
}

.productos {
	padding: 10px 20px 20px 50px;
	font-size: 1.5em;
	text-align: center;
	color: #F8F8FF;
}

.material-icons.icon-productos {
	color: #F8F8FF;
	font-size: 64px;
	text-align: center;
    vertical-align: middle;
}

#activos-fijos {
	background-color: yellow;
	padding-top: 30px;
	padding-bottom: 50px;
}

.activos-fijos {
	background-color: black;
	color: #F8F8FF;
	margin-right: 20px;
	margin-top: 20px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
}

.colapse {
	margin: auto;
	width: 50%;
	text-align: center;
	color: #F8F8FF;
}

.material-icons.ver-mas.light { 

	color: #F8F8FF;
	font-size: 36px;
	text-align: center;
    vertical-align: middle;
}

.material-icons.ver-mas.dark { 

	color: black;
	font-size: 36px;
	text-align: center;
    vertical-align: middle;
}

#mas-activos-fijos {
	margin: auto;
	width: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.material-icons.orange.done {
	color: orange;
	font-size: 36px;
	text-align: center;
    vertical-align: middle;
}

.material-icons.blue.list {
	color: #00BFFF;
	font-size: 24px;
	text-align: center;
    vertical-align: middle;
}

.item-lista-acfi {
	padding-bottom: 7px;
}

#caja-menor {
	background-color: #299cff;
}

.caja-menor {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding-top: 10px;
	background-color: black;
	color: #F8F8FF;
}

#mas-caja-menor {
	padding: 20px 20px 20px 20px;
}

#contabilidad {
	background-color: #F8F8FF;
}

.contabilidad {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding-top: 10px;
	background-color: black;
	color: #F8F8FF;
}

#mas-contabilidad {
	padding-top: 20px;
}

#nomina {
	background-color: #299cff;
}

#nomina a {
	color: black;
}

.nomina {
	background-color: #F8F8FF;
	margin: 30px 20px 20px 20px ;
	padding-top: 10px;
}

.desc-product {
	font-size: 14.5px;
	text-align: justify;
}

.desc-product-black {
	font-size: 14.5px;
	text-align: justify;
	color: #F8F8FF;
}
#mas-nomina {
	padding-top: 20px;
	padding-bottom: 20px;
}

#contacto {
	padding-top: 30px;
	padding-bottom: 20px;
}

footer {
	background-color: black;
	color: #F8F8FF; 
	font-size: 14px;
}

.footer {
	padding: 10px 10px 5px 10px;
}

#restaurante {
	
}

.restaurante {
	background-color: black;
	margin: 30px 20px 20px 20px ;
	padding-top: 10px;
}

#sistema-comercial {
	background-color: black;

}

.sistema-comercial {
	margin: 30px 20px 20px 20px ;
	padding-top: 10px;
	background-color: white;
	opacity: 1;
}


#00BFFF
#F8F8FF
#FFFFFF
#FF00FF
#299cff
#666666
