<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>GREXCO S.A.S.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'landing/css/home.css' %}">
  <link rel="icon" type="image/gif/png" href="{% static 'landing/img/icono.png' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'landing/js/contacto.js' %}"></script>
  
  <!-- Load boostrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body">
<!-- Barra de navegación -->
  <nav class="navbar navbar-expand-md fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><img src="{% static 'landing/img/Logo.jpg' %}" alt="logo" style="width:150px;"></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i class="material-icons menu">menu</i>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link text-primary" href="#">Inicio</a></li>
        <li class="nav-item"><a class="nav-link text-primary" href="#grexco">Grexco</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link text-primary dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Productos</a>
          <div class="dropdown-menu">
            <a class="dropdown-item text-primary" href="#activos-fijos">Activos Fijos</a>
            <a class="dropdown-item text-primary" href="#caja-menor">Caja Menor</a>
            <a class="dropdown-item text-primary" href="#contabilidad">Contabilidad</a>
            <a class="dropdown-item text-primary" href="#nomina">Nómina</a>
            <a class="dropdown-item text-primary" href="#restaurante">Punto de Venta Restaurante</a>
            <a class="dropdown-item text-primary" href="#sistema-comercial">Sistema Comercial</a>
            <a class="dropdown-item text-primary" href="#industrial">Sistema Industrial</a>
          </div>
        </li> 
        <li class="nav-item"><a class="nav-link text-primary" href="#contacto">Contáctenos</a></li>
        <li class="nav-item"><a class="nav-link text-primary" href="{% url 'usuarios:login' %}">Soporte</a></li>
      </ul>
    </div> 
  </nav>
<!-- Fin Barra navegación -->

<!-- Contenido -->
  <div id="welcome" class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-sm-6 welcome">
        <h3>BIENVENIDOS A GREXCO S.A.S.</h3>
        <p>Ofrecemos la <b>MEJOR SOLUCION INTEGRADA</b> del mercado, con la cual se contabilizan
        automáticamente todos los documentos realizados en los diferentes módulos, con este beneficio
        se evitan los dobles procesos y se optimiza el tiempo de los usuarios y mejora la productividad
        de su empresa.
        </p>
      </div>
    </div> 
  </div>
 
  <!-- Grexco -->
  <div id="grexco" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-6">
          <h4 class="title-grexco">SOBRE GREXCO</h4>
          <p class="text-grexco">
          Somos una empresa cuyo objetivo es brindar SOLUCIONES INTEGRALES en el área de informática, mediante el diseño,
          desarrollo e implementación de sistemas de información. Contamos con una amplia experiencia en el mercado con más
          de 25 años de trayectoria empresarial, ya que desde 1988 estamos solucionando a nuestros clientes sus necesidades de
          información.
          </p>  
        </div> 
        <div class="col-sm-6">
          <h4 class="title-grexco">¿POR QUE NOSOTROS?</h4>
          <p class="text-grexco">
            Tenemos productos estandar acordes a la Legislación Colombiana que se ajustan a las necesidades de empresas Comerciales, Industriales y de Servicios. Diseñamos y desarrollamos a la medida de su organización, o ajustamos 
            los paquetes existentes a una necesidad particular.            
          </p>
        </div>   
      </div>    
  </div>
  <!-- Fin Grexco -->

  <!-- Vista general productos -->
  <div class="container-fluid" style="background-color: black;">
    <div class="row justify-content-center">
      <div class="col-sm-8" style="text-align: center; color: white;">
        <h4 class="title-productos">PRODUCTOS</h4>
      </div>
    </div>
    <div class="row justify-content-center" >
      <div class="col-sm-3" style="text-align: left; margin: 10px 50px 10px 50px;">
        <a class="productos" href="#activos-fijos"><i class="material-icons icon-productos">business</i><br>ACTIVOS FIJOS</a>
      </div> 
      <div class="col-sm-3" style="text-align: left; margin: 10px 50px 10px 50px;">
        <a class="productos" href="#caja-menor"><i class="material-icons icon-productos">attach_money</i><br>CAJA MENOR</a> 
      </div>
    </div>
    <br>
    <div class="row justify-content-center" >
      <div class="col-sm-3" style="text-align: left; margin: 10px 50px 10px 50px;">
        <a class="productos" href="#contabilidad"><i class="material-icons icon-productos">account_balance</i><br>CONTABILIDAD</a>
      </div> 
      <div class="col-sm-3" style="text-align: left; margin: 10px 50px 10px 50px;">
        <a class="productos" href="#nomina"><i class="material-icons icon-productos">supervisor_account</i><br>NOMINA</a> 
      </div>
    </div>
    <br>
    <div class="row justify-content-center" >
      <div class="col-sm-3" style="text-align: left; margin: 10px 50px 10px 50px;">
        <a class="productos" href="#restaurante"><i class="material-icons icon-productos">restaurant</i><br>PUNTO DE VENTA RESTAURANTE</a>
      </div> 
      <div class="col-sm-3" style="text-align: left; margin: 10px 50px 10px 50px;">
        <a class="productos" href="#sistema-comercial"><i class="material-icons icon-productos">local_grocery_store</i><br>SISTEMA COMERCIAL</a>
      </div>
    </div>
    <br>
    <div class="row justify-content-center" >
      <div class="col-sm-3" style="text-align: left; margin: 10px 50px 10px 50px;">
        <a class="productos" href="#industrial"><i class="material-icons icon-productos">build</i><br>SISTEMA INDUSTRIAL</a>
      </div>
    </div>
    <br>
  </div>
    
  <!--  Fin vista general productos -->
  
  <!-- Productos -->
    <!-- Activos fijos -->
      <div id="activos-fijos" class="container-fluid">
        <div class="row">
          <div class="activos-fijos col-sm-6">
            <div class="row">
              <h4>ACTIVOS FIJOS</h4>
              <br>
              <p class="desc-product">Logre el control administrativo y contable con el fin de obtener mejores resultados. El programa de Activos Fijos diseñado por Grexco S.A. permite el registro y mantenimiento de la información de los activos fijos de  su empresa. De esta manera logra el control administrativo y contable que su empresa necesita.</p>
            </div>
            <div class="row">
              <!-- Boton para colapsable -->
              <a class="colapse" href="#mas-activos-fijos" data-toggle="collapse"><i class="material-icons ver-mas light">keyboard_arrow_down</i>Ver más</a>  
            </div>
          </div>
        </div>
      </div>

      <!-- Div colapsable -->
      <div id="mas-activos-fijos" class="collapse">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <h3>BENEFICIOS:</h3>
              <ul style="list-style-type: none; padding-top: 10px;">
                <li><i class="material-icons orange done">done</i> Proporcione el control administrativo de los activos.</li>
                <li><i class="material-icons orange done">done</i> Calcule y lleve detalladamente la información contable correspondiente a depreciación, ajuste por inflación,
                    etc.</li>
                <li><i class="material-icons orange done">done</i> Produzca la interfaz contable directa con nuestra contabilidad y personalizada para otros sistemas.</li>
              </ul>
            </div>
          </div>
          <br>
          <h3>CARACTERISTICAS:</h3>
          <div class="row">
            <div class="col-sm-6">
              <ul style="list-style-type: none; padding-top: 10px;">
                <li class="item-lista-acfi"><i class="material-icons blue list">list</i> Tablas de códigos básicos.</li>
                <li class="item-lista-acfi"><i class="material-icons blue list">add_circle</i> Registro de Activos.</li>
                <li class="item-lista-acfi"><i class="material-icons blue list">zoom_in</i> Consulta de Activos Fijos.</li>
                <li class="item-lista-acfi"><i class="material-icons blue list">archive</i> Baja de Activos.</li>
                <li class="item-lista-acfi"><i class="material-icons blue list">plus_one</i> Adiciones de Activos Fijos.</li>
                <li class="item-lista-acfi"><i class="material-icons blue list">swap_horiz</i> Traslados de Activos Fijos.</li>
                <li class="item-lista-acfi"><i class="material-icons blue list">extension</i> Mantenimiento de Activos.</li>
              </ul>
            </div>
            <div class="col-sm-6">  
              <ul style="list-style-type: none; padding-top: 10px;">
                <li class="item-lista-acfi"><i class="material-icons blue list">account_balance</i>Avalúos de Activos Fijos.</li>
                
                <li class="item-lista-acfi"><i class="material-icons blue list">assignment_late</i> Vencimiento de documentos.</li>
                <li class="item-lista-acfi"><i class="material-icons blue list">local_atm</i> Pólizas de seguro.</li>
                <li class="item-lista-acfi"><i class="material-icons blue list">location_city</i> Inventario físico.</li>
                <li class="item-lista-acfi"><i class="material-icons blue list">trending_down</i> Depreciación de Activos Fijos.</li>
                <li class="item-lista-acfi"><i class="material-icons blue list">lock_outline</i> Seguridad.</li>
              </ul>
            </div>  
          </div>          
        </div>        
      </div>
    <!-- Fin activo fijos -->
    <!-- Caja Menor -->
      <div id="caja-menor" class="container-fluid">
          <div class="row justify-content-end">
            <div class="col-sm-6 caja-menor">
              <h4>CAJA MENOR</h4>
              <p class="desc-product">El sistema provee una herramienta de fácil manejo para administrar la caja menor y a su vez genera la contabilización de la misma. Permite la operación y el control detallado de los gastos de la caja menor. Generalmente su manejo implica un volumen muy grande de gastos de pequeñas cuantías, lo que requiere de una inversión grande de tiempo para su administración.</p>
              
              <!-- Boton para colapsable -->
              <div class="row"> 
                <a class="colapse" href="#mas-caja-menor" data-toggle="collapse"><i class="material-icons ver-mas light">keyboard_arrow_down</i>Ver más</a>  
              </div>
            </div> 
          </div> 
      </div>

      <!-- Div colapsable -->
      <div id="mas-caja-menor" class="collapse container-fluid">
        <div class="row justify-content-center">
          <div class="col-sm-8">
            <div class="row">
              <h4>BENEFICIOS:</h4>
            </div>
            <div class="row">
              <ul style="list-style-type: none;">
                <li><i class="material-icons orange done">done</i> Es una herramienta oportuna para la toma de decisiones.</li>
                <li><i class="material-icons orange done">done</i> El funcionario realiza sus labores con el apoyo del sistema.</il>
                <li><i class="material-icons orange done">done</i> Optimiza el tiempo de los usuarios en digitación y consulta.</il>
                <li><i class="material-icons orange done">done</i> Integración sencilla con otros modulos (Excel, Archivo plano y más).</li>
                <li><i class="material-icons orange done">done</i> Adecuamos la interfaz contable a los requerimientos de otros sistemas contables.</li>
                <li><i class="material-icons orange done">done</i> Garantía permanente del Sistema.</li>
                <li><i class="material-icons orange done">done</i> Captura de datos ágil y flexible.</li>
              </ul>
            </div>
            <div class="row">
              <h4>CARACTERISTICAS:</h4>
            </div>
            <div class="row">
              <ul style="list-style-type: disc;">
                <li>Se pueden manejar varias cajas menores simultáneamente en su organización.</li>
                <li>Definición de los parámetros y montos de cada caja y del usuario asignado a la misma.</li>
                <li>Posee control de auditoría para el arqueo de cada una.</li>
                <li>Se definen uno o  todos los conceptos de gastos en caja menor.</li>
                <li>Controla los anticipos entregados.</li>
                <li>Se legaliza el anticipo para cada funcionario.</li>
                <li>Realiza automáticamente el reembolso de la caja menor y contabiliza cada concepto. Si se parametriza, el supervisor tiene la posibilidad de aprobar el reembolso o negarlo, para que sea corregido por el usuario.</li>
                <li>Estadísticas de número de reembolsos, de gastos en cada reembolso, etc.</li>  
                <li>Cada usuario puede ver y accesar únicamente su caja menor.</li>
                <li>El supervisor puede ingresar a hacer auditoria en todas las cajas menores.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- Fin Caja Menor -->
    
    <!-- Contabilidad -->
      <div id="contabilidad" class="container-fluid">
        <div class="row justify-content-start">
          <div class="col-sm-8  contabilidad">
            <h4>CONTABILIDAD</h4>
            <p class="desc-product">La contabilidad Grexco es un sistema de información que registra
               las transacciones contables de una empresa, en forma ordenada y precisa,
               para que de ella se conozcan los resultados de la misma. La Contabilidad
               es un sistema que obliga a organizarse, economiza tiempo, es confiable
               y se convierte en una excelente herramienta de trabajo.</p>
            <!-- Boton para colapsable -->
            <div class="row"> 
              <a class="colapse" href="#mas-contabilidad" data-toggle="collapse"><i class="material-icons ver-mas light">keyboard_arrow_down</i>Ver más</a>  
            </div>
          </div>
        </div>
      </div>
      
      <!-- Div colapsable -->
        <div id="mas-contabilidad" class="container-fluid collapse ">
          <div class="row justify-content-center"> 
            <div class="col-sm-8">
              <div class="row">
                <h4>BENEFICIOS:</h4>
              </div>
              <div class="row">
                <ul style="list-style-type: none;">
                  <li><i class="material-icons orange done">done</i> Sofisticado y estricto sistema de seguridad.</li>
                  <li><i class="material-icons orange done">done</i> No tiene límites para los niveles de las cuentas contables.</li>
                  <li><i class="material-icons orange done">done</i> Captura de datos ágil y flexible.</li>
                  <li><i class="material-icons orange done">done</i> Es una herramienta para la toma oportuna de decisiones.</li>
                  <li><i class="material-icons orange done">done</i> El funcionario realiza sus labores con el apoyo del Sistema.</li>
                  <li><i class="material-icons orange done">done</i> Optimiza tiempo de trabajo de usuarios en digitación y consulta.</li>
                  <li><i class="material-icons orange done">done</i> Integración sencilla con otros módulos (txt, Excel, archivo plano, etc.).</li>
                  <li><i class="material-icons orange done">done</i> Garantía permanente del Sistema.</li>                  
                </ul>
              </div>
            </div>
          </div>
        </div>
    <!-- Fin Contabilidad -->

    <!-- Nomina -->
      <div id="nomina" class="container-fluid">
        <div class="row justify-content-end">
          <div class="col-sm-8 nomina">
            <h4>NOMINA</h4>
            <p class="desc-product">Es una herramienta de control de los procesos de personal y de las liquidaciones periódicas. Economiza tiempo en la  Administración y control de personal, es estricto en los aspectos laborales, académicos, de salud, de vacaciones, de permisos y sanciones, de control de préstamos. Actualización permanente del programa, con base en las nuevas disposiciones legales y mejoras funcionales para mayor optimización. Sinergia de un número importante de usuarios. Produce los archivos planos para el PILA y los certificados de Ingresos y Retenciones y certificaciones laborales. Apoya al usuario a obtener la información requerida en el mínimo tiempo. 
            </p>
            <!-- Boton para colapsable -->
            <div class="row"> 
              <a class="colapse" href="#mas-nomina" data-toggle="collapse"><i class="material-icons ver-mas dark">keyboard_arrow_down</i>Ver más</a>  
            </div>
          </div>
        </div>
      </div>
      <!-- Colapsable -->
      <div id="mas-nomina" class="container-fluid collapse ">
        <div class="row justify-content-center"> 
          <div class="col-sm-8">
            <div class="row">
              <h4>BENEFICIOS:</h4>
            </div>
            <div class="row">
              <ul style="list-style-type: none;">
                <li><i class="material-icons orange done">done</i> Es una herramienta para la toma oportuna de decisiones.</li>
                <li><i class="material-icons orange done">done</i> Permite manejar la cantidad de empleados directos y de temporales o cooperativas en su empresa.</li>
                <li><i class="material-icons orange done">done</i> Control de la planta de personal autorizada.</li>
                <li><i class="material-icons orange done">done</i> Informa los vencimientos de los contratos de trabajo.</li>
                <li><i class="material-icons orange done">done</i> Pueden conocer el valor de la nómina por departamento.</li>
                <li><i class="material-icons orange done">done</i> El funcionario realiza sus labores con el apoyo del Sistema.</li>
                <li><i class="material-icons orange done">done</i> Optimiza tiempo de trabajo de usuarios en digitación y consulta.</li>
                <li><i class="material-icons orange done">done</i> Integración sencilla con otros módulos (txt, Excel, archivo plano, etc.)</li>
                <li><i class="material-icons orange done">done</i> Garantía permanente del Sistema.</li>
              </ul>
            </div>
            <div class="row">
              <h4>CARACTERISTICAS: </h4>
            </div>
            <div class="row">
              <ul style="list-style-type: disc;">
                <li>Este Módulo es multiempresas.</li>
                <li>Múltiples tipos de Nómina.</li>
                <li>Parametrización de las prestaciones según la legislación laboral.</li>
                <li>Sistema de Seguridad sofisticado que garantiza que solo usuarios autorizados pueden ingresar al modulo correspondiente. </li>
                <li>Todos los listados se ven por pantalla.</li>
                <li>Liquidación de salarios fijos y/o variables.</li>
                <li>Maneja dotación de empleados.</li>
                <li>Descuentos por préstamos, cuotas del fondo, liquidaciones periódicas de nómina y novedades.</li>
                <li>Liquidaciones de cesantías, vacaciones, primas legales o extralegales, incapacidades, viáticos permanentes etc.</li>
                <li>Liquidación definitiva de prestaciones sociales en la terminación del contrato laboral</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- Fin Nomina-->

    <!-- Punto de venta restaurante -->
      <div id="restaurante" class="container-fluid">
        <div class="row justify-content-start">
          <div class="col-sm-6 restaurante">
            <h4 style="color: #F8F8FF;">PUNTO DE VENTA RESTAURANTE</h4>
            <p class="desc-product-black">
              El punto de venta es un sistema POS para restaurantes que incluye el manejo
              de las cuentas por cada mesa, descargando del inventario cuando se factura
              y posteriormente se realizada al final de la jornada el cierre de caja.
              Posee estadísticas de consumo e interfaz contable para envío a la contabilidad 
              de la compañía. Además posee un módulo de administración que debe estar instalado
              en la oficina principal, donde se centraliza toda la información de los diferentes
              puntos de venta de la empresa. El sistema maneja código de barras.
              La interfaz del Sistema es muy fácil de manejar y en una sola pantalla se hacen todas
              las operaciones de la aplicación.
            </p>
            <!-- Boton para colapsable -->
            <div class="row"> 
              <a class="colapse" href="#mas-restutante" data-toggle="collapse"><i class="material-icons ver-mas light">keyboard_arrow_down</i>Ver más</a>  
            </div>
          </div>
        </div>
      </div>
    <!-- Colapsable -->
      <div id="mas-restutante" class="container-fluid collapse ">
        <div class="row justify-content-center"> 
          <div class="col-sm-8">
            <div class="row">
              <h4>BENEFICIOS:</h4>
            </div>
            <div class="row">
              <ul style="list-style-type: none;">
                <li><i class="material-icons orange done">done</i> Registro y control de los consumos por mesa.</li>
                <li><i class="material-icons orange done">done</i> Control del inventario en cada punto de venta.</li>
                <li><i class="material-icons orange done">done</i> Manejo de códigos de barras para el ingreso y la salida de las mercancías.</li>
                <li><i class="material-icons orange done">done</i> Utilícelo fácilmente en sistema Windows.</li>
                <li><i class="material-icons orange done">done</i> Manejo de listas de precios definida en el módulo del administrador,
                  que no puede ser modificada por el cajero del punto de venta.</li>
                <li><i class="material-icons orange done">done</i> El cajero esta asociado al usuario autorizado y su clave.</li>
                <li><i class="material-icons orange done">done</i> Información siempre actualizada y en línea con la contabilidad.</li>
                <li><i class="material-icons orange done">done</i> Maneja control de tiempos en atención al cliente.</li>
                <li><i class="material-icons orange done">done</i> Sistema sugiere cantidades a comprar de acuerdo con stocks mínimos sugeridos.</li>
              </ul>
            </div>
            <div class="row">
              <h4>CARACTERISTICAS: </h4>
            </div>
            <div class="row">
              <ul style="list-style-type: disc;">
                <li>Definición de los parámetros y montos de cada caja y del usuario asignado a la misma</li>
                <li>Realice operaciones de entradas y salidas de Almacén, ajustes y control del Inventario que incluye la carga inicial 
                    del mismo y el control de información propiamente dicho.</li>
                <li>Realice a diario el cuadre de caja donde se relacionan las facturas registradas y los valores detallados por cada
                    forma de pago sacando el informe correspondiente.</li>
                <li>El sistema maneja la facturación por mostrador, la que descarga automáticamente del inventario y actúa como recibo
                    de caja al reconocer el pago de estricto contado, manejando varias formas de pago como: efectivo, tarjetas débito, crédito, cheques, bonos, cheques de Sodexho Pas, etc.</li>
                <li>Sistema con base de datos que incluye los vendedores, clientes permanentes y ocasionales, proveedores y en general
                    todas las personas que tienen relación con la empresa.</li>
                <li>Facilidad en manejo de vendedores permitiendo crear una ficha básica con datos como nombre, cédula o Nit,
                    dirección, teléfono.</li>
                <li>Controla la provisión de efectivo entregada. Posee control de auditoría para el arqueo de cada caja.</li>
                <li>El supervisor puede ingresar a hacer auditoria en todas las cajas.</li>
                <li>Se puede integrar con el módulo de inventarios y compras.</li>
                <li>Obtenga estadísticas Ventas por fecha, por referencia, por día de la semana, por hora, etc.</li>
                <li>El sistema posee la Parametrización de la contabilización de todos los movimientos, haciéndolo directamente en la
                    contabilidad cuando sea centralizada la información en la oficina Principal.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    <!-- Fin Punto de venta restaurante -->

    <!-- Sistema Comercial -->
      <div id="sistema-comercial" class="container-fluid">
        <div class="row justify-content-end">
          <div class="col-sm-6 sistema-comercial">
            <h4>SISTEMA COMERCIAL</h4>
            <p class="desc-product">
              Nuestra Solución permite la administración y control de compañías comercializadoras de Productos y Servicios, desde
              compras hasta ventas, pasando por registro clientes, proveedores, manejo de inventarios, liquidación y valorización de
              importaciones, manejo y control de sucursales, cartera de proveedores, cartera de clientes, control de bancos, caja
              menor, y análisis de  datos, integrándose en línea con la Contabilidad. Adaptado a las leyes Colombianas, es seguro para
              el usuario. Ideal para Empresas Importadoras, Comercializadoras, Distribuidoras, Ferreterías, Industrias Farmacéuticas, 
              etc.
            </p>
            <!-- Boton para colapsable -->
            <div class="row"> 
              <a class="colapse" href="#mas-comercial" data-toggle="collapse"><i class="material-icons ver-mas dark">keyboard_arrow_down</i>Ver más</a>  
            </div>
          </div>
        </div>
      </div>

      <!-- Colapsable -->
      <br>
      <div id="mas-comercial" class="container-fluid collapse ">
        <div class="row justify-content-center"> 
          <div class="col-sm-8">
            <div class="row">
              <h4>BENEFICIOS:</h4>
            </div>
            <div class="row">
              <ul style="list-style-type: none;">
                <li><i class="material-icons orange done">done</i> Es una herramienta para la toma oportuna de decisiones.</li>
                <li><i class="material-icons orange done">done</i> Información siempre actualizada y en línea con la contabilidad.</li>
                <li><i class="material-icons orange done">done</i> Sistema integrado de todas la operaciones de la compañia.</li>
                <li><i class="material-icons orange done">done</i> Controla los procesos: Administrativos, Financieros, y Contables de la compañia.</li>
                <li><i class="material-icons orange done">done</i> Estados financieros oportunos.</li>
                <li><i class="material-icons orange done">done</i> Facilidad en la definición de todos los documentos y su elaboración.</li>
                <li><i class="material-icons orange done">done</i> El funcionario realiza sus labores con el apoyo del sistema.</li>
                <li><i class="material-icons orange done">done</i> Optimiza tiempo de trabajo de usuarios en digitación y consulta.</li>
                <li><i class="material-icons orange done">done</i> Integración sencilla con otros módulos (txt, Excel, achivo plano, etc).</li>
                <li><i class="material-icons orange done">done</i> Garantía permanente del sistema.</li>
              </ul>
            </div>
            <div class="row">
              <h4>CARACTERISTICAS: </h4>
            </div>
            <div class="row">
              <ul style="list-style-type: disc;">
                <li> Este módulo es multiempresas.</li>
                <li> Definición de todos los documentos.</li>
                <li> Sistema de seguridad sofisticado que garantiza que solo usuarios autorizados pueden ingresar al módulo correspondiente.</li>
                <li> Todos los listados se ven por la pantalla.</li>
                <li> Seguimiento permanente a presupuestos de ventas.</li>
                <li> Estadisticas de facturación.</li>
                <li> Información diaria de pedidos tomados a los clientes por vendedor.</li>
                <li> Control de pedidos despachados y por despachar.</li>
                <li> Información actualizada de facturación y cuentas por cobrar, por cliente y consolidadas.</li>
                <li> Informe de recuados diarios por vendedor y consolidado.</li>
                <li> Permite listar inventarios costeados (promedio ponderado) y de cantidades de productos terminados en las diferentes bodegas.</li>
                <li> Sugerido de compras basado en existencias.</li>
                <li> Información detallada de las compras de la compañia.</li>
                <li> Análisis comportamiento proveedores, con sus precios y cumplimiento.</li>
                <li> Control de las cajas menores de la compañia.</li>
                <li> Consulta permanente de los saldos bancarios.</li>
                <li> Perfecto para compañias comercializadoras de productos y servicios.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- Fin Sistema Comercial -->

    <!-- Sistema Industrial -->
      <div id="industrial" class="container-fluid">
        <div class="row justify-content-start">
          <div class="col-sm-6" class="industrial">
            <h4>SISTEMA INDUSTRIAL</h4>
            <p class="desc-product">
              El sistema pretende determinar y controlar los costos de producción tanto de materiales como de mano de obra y las necesidades de compra de materias primas para cumplir con la producción.
              <br>
              Sistema integrado desarrollado para empresas industriales. Planifique y controle todos los procesos operativos y administrativos dentro de su empresa. Ideal para industria Metalmecánica, Ensambladoras, Alimenticias, Manufacturera, 
              Fábricas de muebles.
            </p>
            <!-- Boton para colapsable -->
            <div class="row"> 
              <a class="colapse" href="#mas-industrial" data-toggle="collapse"><i class="material-icons ver-mas dark">keyboard_arrow_down</i>Ver más</a>  
            </div>
          </div>
        </div>
      </div>
     <!-- Colapsable -->
      <br>
      <div id="mas-industrial" class="container-fluid collapse ">
        <div class="row justify-content-center"> 
          <div class="col-sm-8">
            <div class="row">
              <h4>BENEFICIOS:</h4>
            </div>
            <div class="row">
              <ul style="list-style-type: none;">
                <li><i class="material-icons orange done">done</i> Solución completa para satifacer sus necesidades de manufactura.</li>
                <li><i class="material-icons orange done">done</i> Permite medir el desempeño de su planta de producción.</li>
                <li><i class="material-icons orange done">done</i> Obtenga información valorizada del costo directo e indirecto de producción.</li>
                <li><i class="material-icons orange done">done</i> Información siempre actualizada y en línea con la contabilidad.</li>
                <li><i class="material-icons orange done">done</i> Sus inventarios NO estarán por encima de sus necesidades.</li>
                <li><i class="material-icons orange done">done</i> Es una herramienta oportuna para la toma de decisiones.</li>
                <li><i class="material-icons orange done">done</i> Facilidad en la definición de todos los documentos y su elaboración.</li>
                <li><i class="material-icons orange done">done</i> El funcionario realiza sus labores con el apoyo del sistema.</li>
                <li><i class="material-icons orange done">done</i> Optimiza tiempo de trabajo de usuarios en digitación y consulta.</li>
                <li><i class="material-icons orange done">done</i> Garantia permanente del sistema.</li>
                <li><i class="material-icons orange done">done</i> Necesidades de compra mensuales de acuerdo con el programa de producción.</li>
              </ul>
            </div>
            <div class="row">
              <h4>CARACTERISTICAS: </h4>
            </div>
            <div class="row">
              <ul style="list-style-type: disc;">
                <li> Es módulo multiempresas.</li>
                <li> Sistema de seguridad sofisticado permite que solo usuarios autorizados ingresen al módulo correspondiente.</li>
                <li> Todos los listados se ven por la pantalla.</li>
                <li> Lista inventario de productos terminados costeados y en cantidades en las diferentes bodegas.</li>
                <li> Definición de la explisión de materiales de todas las partes fabricadas o ensambladas.</li>
                <li> Registro de la secuencia de operaciones para fabricar un producto.</li>
                <li> Simulación del costo de un producto terminado basado en una explosión de materiales.</li>
                <li> Costeo de materias primas, productos en proceso y producto terminado.</li>
                <li> Programación de la producción por pedidos y para stock.</li>
                <li> Control de retrabajos o reprocesos realizados por terceros.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    <!-- Fin Sistema Industrial -->
  <!-- Fin productos -->

  <!-- CLIENTES -->
    
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <h3 style="text-align: center;">CLIENTES</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-10">
          <img style="width: 15%;" src="{% static 'landing/img/logos_clientes/envia.png' %}" alt="Envia">
          <img class="img-clientes" src="{% static 'landing/img/logos_clientes/fundacion-santafe.svg' %}" alt="Fundación Santa Fe">
          <img class="img-clientes" src="{% static 'landing/img/logos_clientes/homi.png' %}" alt="HOMI">
          <img class="img-clientes" src="{% static 'landing/img/logos_clientes/prohuila.png' %}" alt="ProHuila">
        </div>
        <br>
        <div class="col-sm-10">
          <img style="width: 15%;" src="{% static 'landing/img/logos_clientes/flores-aurora.png' %}" alt="Flores Aurora">
        </div>
      </div>
    </div>

  <!-- FIN CLIENTES -->      
  <!-- Contacto -->
    <div id="contacto" class="container-fluid">
      <div class="row justify-content-center">
        <div id="msj-ok" class="col-sm-8" style="display: none;">
          <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Success!</strong> Indicates a successful or positive action.
          </div>
        </div>
        <div id="msj-error" class="col-sm-8" style="display: none;">
          <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Error!</strong> Indicates a successful or positive action.
          </div>
        </div>
        <div class="col-sm-8">
          <h4>Dejenos un mensaje:</h4>
          <form>
            <div class="form-group">
              <label for="nombre">Nombre: </label>
              <span id="badge-nombre" class="badge badge-danger" style="display: none;">Este campo es requerido</span>
              <input type="text" class="form-control contacto" id="nombre" maxlength="50">
            </div>
            <div class="form-group">
              <label for="telefono">Telefono: </label>
              <span id="badge-telefono" class="badge badge-danger" style="display: none;">Este campo es requerido</span>
              <input type="tel" class="form-control contacto" id="telefono">              
            </div>
            <div class="form-group">
              <label for="empresa">Empresa: </label>
              <span id="badge-empresa" class="badge badge-danger" style="display: none;">Este campo es requerido</span>
              <input type="text" class="form-control contacto" id="empresa" maxlength="100">
            </div>
            <div class="form-group">
              <label for="email">Email: </label>
              <span id="badge-email" class="badge badge-danger" style="display: none;">Este campo es requerido</span>
              <input type="email" class="form-control contacto" id="email">
            </div>
            <div class="form-group">
              <label for="mansaje">Mensaje: </label>
              <span id="badge-mensaje" class="badge badge-danger" style="display: none;">Este campo es requerido</span>
              <textarea type="text" maxlength="2000" class="form-control contacto" id="mensaje"></textarea>
            </div>

          <!-- Mensaje de confirmación envío formulario -->
            <div class="alert alert-success" id="mensaje-enviado" style="display: none;">
              <strong>Su mensaje se envio correctamente!</strong>
            </div>
            <div class="alert alert-danger" id="mensaje-no-enviado" style="display: none;">
              <strong>Su mensaje NO se envió! Por favor intentelo nuevamente.</strong>
            </div>

            <div class="row justify-content-center">
              <button id="enviar" type="submit" class="btn btn-primary">Enviar</button>  
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  <!-- Fin Contacto -->
<!-- Fin Contenido -->
  <footer>
    <div class="container-fluid footer">
      <div class="row" style="padding-left: 20px;">
        <p>info@grexco.com.co <br>
           PBX: (1) 235 11 80 <br>
           Bogotá - Colombia</p>  
      </div>
      <div class="row justify-content-end">
        <p style="font-size: 12px; padding-right: 10px;">GREXCO S.A.S Todos los derechos reservados 2018.</p>
      </div>
    </div>
  </footer>
</body>
</html>